{:ultrasonic-sensor-boundary 20.0
 :noise-threshold 200.0
 :max-empty-frames 3
 :auth-token-url "https://eastus.api.cognitive.microsoft.com/sts/v1.0/issueToken"
 :endpoints {:interactive  "wss://eastus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1"
             :conversation "wss://eastus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1"
             :dictation    "wss://eastus.stt.speech.microsoft.com/speech/recognition/dictation/cognitiveservices/v1"}
 }